@import 'typography';

$transitionColor: color ease 0.3s;
$transitionBackground: background ease 0.3s;
$bg:      #FFFFFF;
$light:           #9fa9b7;
$dark:            #505D6D;
$blue:            #369BCA;
$lightGrayText:   #AFB0B1;
$lightGrayBorder: #E8E8E8;
$mediumBlueGray:  #8C9BA6;
$borderColor:     #e5eaeb;
$link:            #369BCA;
$hover:           darken($bg, 10%);

* {
  box-sizing: border-box;
}

body {
  background: $bg;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next W01', 'Avenir', Helvetica, Arial,  sans-serif;
  font-size:100%;
  line-height:1.875em;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  color: $dark;
}

h1 {
  font-size: 2.25em;
  line-height: 1.25em;
  text-align: center;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 1.5em;
}

h2 {
  font-size: 1.65em;
  margin:1em 0;
}

h3 {
  font-size: 1.25em;
}

h2, h3, h4, h5, h6 {
  margin-top: 2em;
}

p, ul, li {
  font-size: 1.375em;
  line-height: 1.5;
  font-weight: 100;
  color: #4d4d4d;
  margin-bottom: 1.875em;
}

p {
  margin: 1.286em 0;
}

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  fill: $blue;;
}
.icon-twitter {
  width: 1.25em;
}
.icon-logo {
  fill: #707e8c;
  width: 9.5em;
  height: 3.3em;
  margin: 0 auto;
  display: block;
}

#icon-logo {
  .path2 {
    fill: $blue;
  }
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
  &:before, &:after {
    content: '';
    position: absolute;
      -webkit-transition: -webkit-transform .5s ease; /* Changed here */
     -moz-transition: -moz-transform .5s ease;
       -o-transition: -o-transform .5s ease;
          transition: transform .5s ease;
  }
}

blockquote {
  border-left: 1px solid $lightGrayBorder;
  padding-left: 1em;
  margin: 2em 0;
  font-style: italic;
  line-height: 2em;
  p {
    color: $blue;
  }
}

hr {
  min-height: 1px;
  margin: 3em 0;
  background: $borderColor;
  color: $borderColor;
  border: none;
}

code {
  display: inline;
  background: $dark;
  padding: .25em .75em;
  color: #C0C5CE;
  border-radius: .25em;
}

.vertical_m {
  display: table-cell;
  vertical-align: middle;
}

.clear {
  clear: both;
}

.nav_small_m {
  display: none;
}

.main_content_m {
  width: 100%;
  display: inline-block;
  .main_content_header_m {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;

    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-flex-pack: justify;

    padding: 1.25em 2.5em;
    border-bottom: 1px solid $borderColor;
    margin-bottom: 4em;
    .hamburger, .twitter {
      padding-top: 1.1em;
    }
  }
  .post_m {
    color: #707e8c;
    .post_wrapper_m {
      width: 50%;
      max-width: 720px;
      margin: 0 auto;
      padding: .35em 0 .75em 0;
      border-bottom: 1px solid $borderColor;
    }
    .post_header_m {
      margin: 1.286em 0 0 0;
      font-size: 1.5em;
      .link_hover {
        display: inline-block;
        padding-bottom: .5em;
        overflow: hidden;
        &:before {
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: $blue;
          -webkit-transform:  translateX(-100%);
          -moz-transform:  translateX(-100%);
          -o-transform:  translateX(-100%);
          transform:  translateX(-100%);
        }
        &:hover:before {
          -webkit-transform:  translateX(0);
          -moz-transform:  translateX(0);
          -o-transform:  translateX(0);
          transform:  translateX(0);
        }
      }
      .time_tags {
        color: $lightGrayText;
        font-size: 0.5em;
        letter-spacing: 4px;
        margin: 0;
        padding: 0;
        line-height: 2;
      }
    }
  }
  .author_share_m {
    display: table;
    padding: 1em 0;
    h2 {
      font-size: .85em;
      margin: .65em 0 0 0;
    }
    a {
      text-decoration: none;
    }
    .author_m {
      width: 75%;
      display: table-cell;
      vertical-align: middle;
      margin-right: 10%;
      .author_pic_m {
        width: 5.5em;
        float: left;
        margin-right: 6%;
        border-radius: .25em;
      }
      .author_name_m {
        font-size: .85em;
      }
      .author_excerpt_m {
        font-size: .75em;
        margin: 0;
        line-height: 1.5em;
      }
    }
    .share_m {
      width: 100%;
      margin-left: 30%;
      .share_button_m {
        color: $light;
        margin: 2.75em 10% 0 0;
        font-size: 1.25em;
        transition: $transitionColor;
        &:hover {
          color: $dark;
        }
      }
    }
  }
  .comments_m {
    .comment_button_m {
      margin: 0 auto 2em auto;
      max-width: 15em;
      display: block;
      cursor: pointer;
    }
    p {
      background: $mediumBlueGray;
      color: #fff;
      text-align: center;
      padding: 1em 2em;
      border-radius: .25em;
      transition: $transitionBackground;
      font-style: italic;
      font-weight: 300;
      margin: 0;
      &:hover {
        background: $dark;
      }
    }
    a {
      text-decoration: none;
    }
    .post_wrapper_m {
      padding-bottom: 2em;
    }
  }
  .post_bottom_navigation_m {
    background: $borderColor;
    padding: 5em 0;
    text-align: center;
    .post_wrapper_m {
      border: none;
    }
    p {
      color: $light;
    }
    .read_next_m {
      font-size: 0.85em;
      margin-top: 0;
      color: $dark;
    }
    .next_post_title_m {
      color: $dark;
      text-decoration: none;
      font-size: 1.75em;
      font-weight: bold;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }
    .next_post_subtitle_m {
      font-style: italic;
      font-size: 0.85em;
      margin: 0;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: .25em;
  }
  #disqus_thread {
    padding-top: 3em;
  }
}

// Pagination

/* The main wrapper for our pagination links */
.pagination {
  position: relative;
  display: table;
  width: 86%;
  margin: 1rem auto;
  font-family: 'Open Sans', sans-serif;
  color: $light;
  text-align: center;
  span.icon-m {
    margin: 0 2em;
    color: $borderColor;
  }
  .icon-arrow-left, .icon-arrow-right {
    margin-bottom: -1em;
  }
}

.pagination a {
    color: $light;
}

.pagination_inner {
  display: table-cell;
  vertical-align: middle;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  color: $dark;
  font-weight: 700;
  letter-spacing: -1px;
  transition: border ease 0.3s;
  text-align: center;
}

.older-posts {
    right: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
}

.newer-posts {
    left: 0;
}

.older-posts:hover,
.newer-posts:hover {
    border-color: #9EABB3;
}

.about_profile_pic {
  width: 120px;
  border-radius: 60px;
  margin-top: 2em;
}


footer {
  position: fixed;
  width: 35%;
  bottom: 0;
  text-align: center;
  .copyright {
    font-size: .65em;
    color: #a8b0ba;
    a {
      color: #a8b0ba;
      text-decoration: underline;
    }
  }
}

@import 'obsidian';
@import 'mediaqueries';