@import 'slidebar';
@import 'typography';



//\/\/\/\/\/\\ ----------- Universal ----------- //\/\/\/\/\/\\

$transitionColor: color ease 0.3s;
$transitionBackground: background ease 0.3s;
$bg:      #FFFFFF;
$light:           #9fa9b7;
$medium:          #707E8C;
$dark:            #282828;
$blue:            #6BB4D5;
$lightGrayText:   #AFB0B1;
$lightGrayBorder: #E8E8E8;
$mediumBlueGray:  #8C9BA6;
$borderColor:     #e5eaeb;
$link:            #369BCA;
$hover:           darken($bg, 10%);

* {
  box-sizing: border-box;
}

body {
  background: $bg;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next W01', 'Avenir', Helvetica, Arial,  sans-serif;
  font-size:100%;
  line-height:1.875em;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 3em;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  fill: #FFF;;
}
.icon-twitter {
  width: 1.25em;
}
.icon-logo {
  fill: #357594;
  width: 9.5em;
  height: 3.3em;
  margin: 0 auto;
  display: block;
}

#icon-logo {
  .path1, .path2 {
    fill: #FFF;
  }
}

.button {
  font-weight: 500;
  border: 1px solid #e8e8e8;
  padding: 0.8em;
  margin: 4em auto 0 auto;
  border-radius: .35em;
  color: #979797 !important;
  font-size: 0.8em;
  width: 200px;
  display: block;
  transition: all .5s ease;
  text-decoration: none !important;
  text-align: center;
  cursor: pointer;
  &:hover {
    border: 1px solid $blue;
    color: $blue !important;
  }
}

//\/\/\/\/\/\\ ----------- Typography ----------- //\/\/\/\/\/\\

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: $dark;
}

h1 {
  font-size: 2.25em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.65em;
  margin:1em 0;
  font-weight: 100;
  color: $blue;
}

h3 {
  font-size: 1.375em;
}

h2, h3, h4, h5, h6 {
  margin: 2em 0 0 0;
}

p, ul, li {
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 100;
  color: #757575;
  code {
    font-size: 0.8em;
  }
}

p, ul {
  margin: .5em 0 1.875em 0;
}

strong {
  font-weight: 500;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
  transition: color .5s ease;
  &:before, &:after {
    content: '';
    position: absolute;
    -webkit-transition: -webkit-transform .5s ease;
       -moz-transition: -moz-transform .5s ease;
         -o-transition: -o-transform .5s ease;
            transition: transform .5s ease;
  }
}

blockquote {
  border-left: 3px solid #6bb4d5;
  margin: 2em 0;
  font-style: italic;
  line-height: 2em;
  p {
    color: $blue;
    padding: 0 0 0 1em;
    margin: 0;
  }
}

hr {
  min-height: 1px;
  margin: 3em 0;
  background: $borderColor;
  color: $borderColor;
  border: none;
}

code {
  display: inline;
  background: #2B303B;
  padding: .4em .75em;
  color: #E0E2E4;
  border-radius: .25em;
}

//\/\/\/\/\/\\ ----------- Animations ----------- //\/\/\/\/\/\\

.link_ring a::before,
.link_ring a::after {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #6FBDD8;
  border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.link_ring a::after {
  width: 40px;
  height: 40px;
  border-width: 3px;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.link_ring a:hover::before,
.link_ring a:hover::after,
.link_ring a:focus::before,
.link_ring a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.link_hover {
  display: inline-block;
  padding-bottom: .5em;
  overflow: hidden;
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: $blue;
    -webkit-transform:  translateX(-100%);
    -moz-transform:  translateX(-100%);
    -o-transform:  translateX(-100%);
    transform:  translateX(-100%);
  }
  &:hover:before {
    -webkit-transform:  translateX(0);
    -moz-transform:  translateX(0);
    -o-transform:  translateX(0);
    transform:  translateX(0);
  }
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: .2em;

  /* Reset the apperance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: red;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.progress_bar::-webkit-progress-value {
  background-color: $blue;
}

.progress_bar::-moz-progress-bar {
  background-color: $blue;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: $blue;
  width: 50%;
  display: block;
  height: inherit;
}

.clear {
  clear: both;
}

.newer {
  font-weight: 500;
  color: #979797 !important;
  font-size: .8em;
  display: block;
  text-align: center;
  padding: 1em 0;
  &:hover {
    color: $blue !important;
  }
}

.main_content_m {
  width: 100%;
  display: inline-block;
  .main_content_header_m {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;

    padding: 1.25em 2.5em;
    margin-bottom: 2em;
    background: $blue;
    .hamburger, .twitter {
      padding-top: .55em;
      line-height: 0;
    }
  }
  .post_m {
    a {
      color: $blue;
      text-decoration: underline;
      &:hover {
        color: $dark;
      }
    }
    .post_title_m {
      margin-bottom: 1em;
      h1 {
        font-size: 2.25em;
        line-height: 1.25em;
        text-align: center;
        font-weight: 100;
        margin-bottom: 0;
      }
      .subtitle {
        text-align: center;
        font-size: 0.9em;
        color: $lightGrayText;
        margin: 0;
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 3em;
        margin-bottom: 1.5em;
      }
    }
    color: $dark;
    .post_wrapper_m, .index_post_wrapper_m {
      width: 50%;
      max-width: 720px;
      margin: 0 auto;
      padding: .35em 0 .75em 0;
    }
    .index_post_wrapper_m {
      border-bottom: 1px solid $borderColor;
    }
    .post_header_m {
      margin: 1.286em 0 0 0;
      font-size: 1.5em;
      a {
        color: inherit;
        text-decoration: none;
      }
      .time_tags {
        color: $lightGrayText;
        font-size: 0.5em;
        letter-spacing: 2px;
        margin: 0;
        padding: 0;
        line-height: 2;
        span {
          color: $blue;
        }
      }
    }
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: .25em;
  }
}


footer {
  position: fixed;
  width: 35%;
  bottom: 0;
  text-align: center;
  .copyright {
    font-size: .65em;
    color: #a8b0ba;
    a {
      color: #a8b0ba;
      text-decoration: underline;
    }
  }
}

@import 'obsidian';
@import 'mediaqueries';