<header class="main_content_header_m">
	<div class="hamburger">
		<a href="#">
			<svg class="icon icon-list" viewBox="0 0 32 32">
				<use xlink:href="#icon-list"></use>
			</svg>
		</a>
	</div>
	<div class="logo">
		<a href="/">
			<svg class="icon icon-logo" viewBox="0 0 92 32">
				<use xlink:href="#icon-logo"></use>
			</svg>
		</a>
	</div>
	<div class="twitter">
		<a href="http://twitter.com/mackenziechild">
			<svg class="icon icon-twitter" viewBox="0 0 32 32">
				<use xlink:href="#icon-twitter"></use>
			</svg>
		</a>
	</div>
</header>