<nav class="pagination" role="pagination">
	<div class="pagination_inner">
		{{#if next}}
				{{!-- <button class="button buttona icon-cart"><span>Older</span></button> --}}
        <a class="button" href="{{pageUrl next}}">Older Posts</a>
    {{/if}}
    {{#if prev}}
        <a class="newer" href="{{pageUrl prev}}">Newer</a>
    {{/if}}
  </div>
</nav>