<div class="sb-slidebar sb-left">
	<nav>
		<p class="title">Writing</p>
		<ul>
			<li><a class="link_hover" href="/">All</a></li>
			<li><a class="link_hover" href="/tag/life/">Life</a></li>
			<li><a class="link_hover" href="/tag/design/">Design</a></li>
			<li><a class="link_hover" href="/tag/front-end/">Front-End Dev</a></li>
			<li><a class="link_hover" href="/tag/development/">Back-End Dev</a></li>
		</ul>
		<p class="title">Me</p>
		<ul>
			<li><a class="link_hover"href="/about">About</a></li>
			<li><a class="link_hover" href="/projects">Projects</a></li>
			<li><a class="link_hover" href="/stuff-i-use">Stuff I Use</a></li>
		</ul>
		<p class="title">Internets</p>
		<ul>
			<li><a class="link_hover" href="https://twitter.com/mackenziechild">Twitter</a></li>
			<li><a class="link_hover" href="https://dribbble.com/mackenzie">Dribbble</a></li>
			<li><a class="link_hover" href="http://codepen.io/mackenzie/">Codepen</a></li>
			<li><a class="link_hover" href="https://github.com/childish">Github</a></li>
			<li><a class="link_hover" href="mailto:mackenzie.child@gmail.com">Email</a></li>
		</ul>
  </nav>
  <p class="copyright">&copy; 2014 Mackenzie Child</p>
</div>