{{!< default}}

<main class="main_content_m" role="main">
  {{> header}}

	{{#post}}
		<article class="post_m">
      <div class="post_wrapper_m post_wrapper_main_m">
        {{content}}
      </div>
    </article>
  {{/post}}
</main>

{{> footer}}