{{!< default}}

{{!-- <aside class="sidebar_m">
  <div class="vertical_m">
    <a href="/"><img class="logo_m" src="../assets/images/logo.png" alt="Mackenzie Child Logo"></a>
    <p class="tagline_m">Designer. Front-End Developer.</p>
    <a href="https://twitter.com/mackenziechild"><span class="social_icons_m icon-twitter"></span></a>
    <a href="http://dribbble.com/mackenzie"><span class="social_icons_m icon-dribbble"></span></a>
    <a href="http://codepen.io/mackenzie/"><span class="social_icons_m icon-codepen"></span></a>
  </div>
</aside> --}}

<main class="main_content_m" role="main">
  <header class="main_content_header_m">
    <a href="/"><span class="icon-m logo_symbol_m"></span></a>
    <nav class="main_content_nav_m">
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/">Thoughts</a>
    </nav>
    <div class="clear"></div>
  </header>

	{{#post}}
		<article class="post_m">
      <div class="post_wrapper_m post_wrapper_main_m">
        {{content}}
      </div>
    </article>
  {{/post}}
</main>

{{> footer}}