@font-face {
  font-family: 'm';
  src: url("../fonts/m.eot?vlyfq");
  src: url("../fonts/m.eot?#iefixvlyfq") format("embedded-opentype"), url("../fonts/m.woff?vlyfq") format("woff"), url("../fonts/m.ttf?vlyfq") format("truetype"), url("../fonts/m.svg?vlyfq#m") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'm';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-m:before {
  content: "\e600"; }

.icon-codepen:before {
  content: "\e60c"; }

.icon-twitter:before {
  content: "\e601"; }

.icon-dribbble:before {
  content: "\e602"; }

.icon-instagram:before {
  content: "\e603"; }

.icon-behance:before {
  content: "\e604"; }

.icon-facebook:before {
  content: "\e605"; }

.icon-googleplus:before {
  content: "\e606"; }

.icon-tumblr:before {
  content: "\e607"; }

.icon-linkedin:before {
  content: "\e608"; }

.icon-list:before {
  content: "\e609"; }

.icon-arrow-right:before {
  content: "\e60a"; }

.icon-arrow-left:before {
  content: "\e60b"; }

* {
  box-sizing: border-box; }

body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next W01', 'Avenir', Helvetica, Arial,  sans-serif;
  font-size: 100%;
  line-height: 1.875em; }
  body:after {
    content: '';
    display: table;
    clear: both; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #505d6d; }

h1 {
  font-size: 2.25em;
  line-height: 1.25em;
  text-align: center;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 1.5em;
  font-weight: 100; }

h2 {
  font-size: 1.65em;
  margin: 1em 0;
  font-weight: 100;
  color: #369bca; }

h3 {
  font-size: 1.25em; }

h2, h3, h4, h5, h6 {
  margin-top: 2em; }

p, ul, li {
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 100;
  color: #4d4d4d;
  margin-bottom: 1.875em; }

p {
  margin: 1.286em 0; }

strong {
  font-weight: 500; }

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  fill: #369bca; }

.icon-twitter {
  width: 1.25em; }

.icon-logo {
  fill: #707e8c;
  width: 9.5em;
  height: 3.3em;
  margin: 0 auto;
  display: block; }

#icon-logo .path2 {
  fill: #369bca; }

a {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px; }
  a:before, a:after {
    content: '';
    position: absolute;
    -webkit-transition: -webkit-transform .5s ease;
    /* Changed here */
    -moz-transition: -moz-transform .5s ease;
    -o-transition: -o-transform .5s ease;
    transition: transform .5s ease; }

blockquote {
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  text-align: center;
  padding-left: 1em;
  margin: 2em 0;
  font-style: italic;
  line-height: 2em; }
  blockquote p {
    color: #369bca; }

hr {
  min-height: 1px;
  margin: 3em 0;
  background: #e5eaeb;
  color: #e5eaeb;
  border: none; }

code {
  display: inline;
  background: #505d6d;
  padding: .25em .75em;
  color: #C0C5CE;
  border-radius: .25em; }

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  /* Dimensions */
  width: 100%;
  height: .2em;
  /* Reset the apperance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of the default border in Firefox/Opera. */
  border: none;
  /* For Firefox/IE10+ */
  background-color: transparent;
  /* For IE10+, color of the progress bar */
  color: red; }

progress::-webkit-progress-bar {
  background-color: transparent; }

.progress_bar::-webkit-progress-value {
  background-color: #369bca; }

.progress_bar::-moz-progress-bar {
  background-color: #369bca; }

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block; }

.progress-bar {
  background-color: #369bca;
  width: 50%;
  display: block;
  height: inherit; }

.vertical_m {
  display: table-cell;
  vertical-align: middle; }

.clear {
  clear: both; }

.nav_small_m {
  display: none; }

.main_content_m {
  width: 100%;
  display: inline-block; }
  .main_content_m .main_content_header_m {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-flex-pack: justify;
    padding: 1.25em 2.5em;
    border-bottom: 1px solid #e5eaeb;
    margin-bottom: 4em; }
    .main_content_m .main_content_header_m .hamburger, .main_content_m .main_content_header_m .twitter {
      padding-top: 1.1em; }
  .main_content_m .post_m {
    color: #707e8c; }
    .main_content_m .post_m .post_wrapper_m {
      width: 50%;
      max-width: 720px;
      margin: 0 auto;
      padding: .35em 0 .75em 0;
      border-bottom: 1px solid #e5eaeb; }
    .main_content_m .post_m .post_header_m {
      margin: 1.286em 0 0 0;
      font-size: 1.5em; }
      .main_content_m .post_m .post_header_m .link_hover {
        display: inline-block;
        padding-bottom: .5em;
        overflow: hidden; }
        .main_content_m .post_m .post_header_m .link_hover:before {
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: #369bca;
          -webkit-transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -o-transform: translateX(-100%);
          transform: translateX(-100%); }
        .main_content_m .post_m .post_header_m .link_hover:hover:before {
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0); }
      .main_content_m .post_m .post_header_m .time_tags {
        color: #afb0b1;
        font-size: 0.5em;
        letter-spacing: 4px;
        margin: 0;
        padding: 0;
        line-height: 2; }
  .main_content_m .author_share_m {
    display: table;
    padding: 1em 0; }
    .main_content_m .author_share_m h2 {
      font-size: .85em;
      margin: .65em 0 0 0; }
    .main_content_m .author_share_m a {
      text-decoration: none; }
    .main_content_m .author_share_m .author_m {
      width: 75%;
      display: table-cell;
      vertical-align: middle;
      margin-right: 10%; }
      .main_content_m .author_share_m .author_m .author_pic_m {
        width: 5.5em;
        float: left;
        margin-right: 6%;
        border-radius: .25em; }
      .main_content_m .author_share_m .author_m .author_name_m {
        font-size: .85em; }
      .main_content_m .author_share_m .author_m .author_excerpt_m {
        font-size: .75em;
        margin: 0;
        line-height: 1.5em; }
    .main_content_m .author_share_m .share_m {
      width: 100%;
      margin-left: 30%; }
      .main_content_m .author_share_m .share_m .share_button_m {
        color: #9fa9b7;
        margin: 2.75em 10% 0 0;
        font-size: 1.25em;
        transition: color ease 0.3s; }
        .main_content_m .author_share_m .share_m .share_button_m:hover {
          color: #505d6d; }
  .main_content_m .comments_m .comment_button_m {
    margin: 0 auto 2em auto;
    max-width: 15em;
    display: block;
    cursor: pointer; }
  .main_content_m .comments_m p {
    background: #8c9ba6;
    color: #fff;
    text-align: center;
    padding: 1em 2em;
    border-radius: .25em;
    transition: background ease 0.3s;
    font-style: italic;
    font-weight: 300;
    margin: 0; }
    .main_content_m .comments_m p:hover {
      background: #505d6d; }
  .main_content_m .comments_m a {
    text-decoration: none; }
  .main_content_m .comments_m .post_wrapper_m {
    padding-bottom: 2em; }
  .main_content_m .post_bottom_navigation_m {
    background: #e5eaeb;
    padding: 5em 0;
    text-align: center; }
    .main_content_m .post_bottom_navigation_m .post_wrapper_m {
      border: none; }
    .main_content_m .post_bottom_navigation_m p {
      color: #9fa9b7; }
    .main_content_m .post_bottom_navigation_m .read_next_m {
      font-size: 0.85em;
      margin-top: 0;
      color: #505d6d; }
    .main_content_m .post_bottom_navigation_m .next_post_title_m {
      color: #505d6d;
      text-decoration: none;
      font-size: 1.75em;
      font-weight: bold;
      text-transform: uppercase; }
      .main_content_m .post_bottom_navigation_m .next_post_title_m:hover {
        text-decoration: underline; }
    .main_content_m .post_bottom_navigation_m .next_post_subtitle_m {
      font-style: italic;
      font-size: 0.85em;
      margin: 0; }
  .main_content_m img {
    max-width: 100%;
    height: auto;
    border-radius: .25em; }
  .main_content_m #disqus_thread {
    padding-top: 3em; }

/* The main wrapper for our pagination links */
.pagination {
  position: relative;
  display: table;
  width: 86%;
  margin: 1rem auto;
  font-family: 'Open Sans', sans-serif;
  color: #9fa9b7;
  text-align: center; }
  .pagination span.icon-m {
    margin: 0 2em;
    color: #e5eaeb; }
  .pagination .icon-arrow-left, .pagination .icon-arrow-right {
    margin-bottom: -1em; }

.pagination a {
  color: #9fa9b7; }

.pagination_inner {
  display: table-cell;
  vertical-align: middle; }

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  color: #505d6d;
  font-weight: 700;
  letter-spacing: -1px;
  transition: border ease 0.3s;
  text-align: center; }

.older-posts {
  right: 0; }

.page-number {
  display: inline-block;
  padding: 2px 0; }

.newer-posts {
  left: 0; }

.older-posts:hover,
.newer-posts:hover {
  border-color: #9EABB3; }

.about_profile_pic {
  width: 120px;
  border-radius: 60px;
  margin-top: 2em; }

footer {
  position: fixed;
  width: 35%;
  bottom: 0;
  text-align: center; }
  footer .copyright {
    font-size: .65em;
    color: #a8b0ba; }
    footer .copyright a {
      color: #a8b0ba;
      text-decoration: underline; }

/**
 * Obsidian style
 * ported by Alexander Marenin (http://github.com/ioncreature)
 */
pre code {
  display: block;
  padding: 2em 4em;
  background: #6A798D;
  margin: 3em 0;
  overflow: scroll;
  border-radius: .25em; }

pre .keyword,
pre .literal,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .css .id,
pre .tex .special {
  color: #93C763; }

pre .number {
  color: #FFCD22; }

pre code {
  color: #E0E2E4; }

pre .css .tag,
pre .css .pseudo {
  color: #CA95C0; }

pre .attribute,
pre code .constant {
  color: #C0C5CE; }

pre .xml .attribute {
  color: #B3B689; }

pre .xml .tag .value {
  color: #E8E2B7; }

pre .code,
pre .class .title,
pre .header {
  color: white; }

pre .class,
pre .hexcolor {
  color: #93C763; }

pre .regexp {
  color: #D39745; }

pre .at_rule,
pre .at_rule .keyword {
  color: #A082BD; }

pre .doctype {
  color: #557182; }

pre .link_url,
pre .tag,
pre .tag .title,
pre .bullet,
pre .subst,
pre .emphasis,
pre .haskell .type,
pre .preprocessor,
pre .pragma,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #8CBBAD; }

pre .string {
  color: #FF9E3D; }

pre .comment,
pre .java .annotation,
pre .blockquote,
pre .horizontal_rule,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #3e4651; }

pre .keyword,
pre .literal,
pre .css .id,
pre .phpdoc,
pre .title,
pre .header,
pre .haskell .type,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .diff .header,
pre .chunk,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .tex .special,
pre .request,
pre .at_rule .keyword,
pre .status {
  font-weight: bold; }

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5; }
